.formContacto {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.formContacto-validacion {
  display: block;
  text-align: left;
}

.formContacto-cta {
  width: 100%;
  margin: 0.5em 0;
}

.formContacto-cta {
  margin-top: 1em;
  display: inline-block;
  background: transparent;
  color: #b72e2e;
  border: 1px solid #b72e2e;
  width: 100%;
}

.formContacto-cta:hover,
.formContacto-cta:focus {
  color: #fff;
  background-color: #b72e2e;
}

.formContacto-direccion {
  color: #666;
  margin: 1em 0;
  text-align: center;
}
