.listaDeArticulos-articulo {
  text-align: left;
  padding-bottom: 2em;
  max-width: 815px;
  display: inline-block;
  white-space: normal;
}

.listaDeArticulos {
  overflow: hidden;
  white-space: nowrap;
}

.listaDeArticulos-item {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: none;
}

.listaDeArticulos-item:not(:target):first-child {
  display: inline-block;
}

.listaDeArticulos-item:target {
  display: inline-block;
}

.listaDeArticulos-articulo-img {
  width: 100%;
  display: block;
}

/* Apenas para diferenciar as imagens */
.listaDeArticulos-item:nth-of-type(2) img {
  filter: sepia(0.7);
}

.listaDeArticulos-item:nth-of-type(3) img {
  filter: hue-rotate(10deg) saturate(1);
}

.listaDeArticulos-articulo-titulo {
  font-family: "Montserrat", sans-serif;
  margin: 0.7em 0;
  font-size: 1.2em;
}

.listaDeArticulos-articulo-link {
  color: #eb5757;
  font-weight: bold;
}

.listaDeArticulos-slider {
  width: 70%;
  margin: 0 auto;
}

.listaDeArticulos-slider li {
  display: inline-block;
}

.listaDeArticulos-slider-item {
  text-indent: -9999px;
  display: inline-block;
  overflow: hidden;
  background-color: #d4d4d4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 0.5em;
  border: 0;
}

.listaDeArticulos-slider-item:hover,
.listaDeArticulos-slider-item:focus {
  background-color: #a5a5a5;
  outline: 0;
}

.listaDeArticulos-slider-item--activo {
  background: hsla(200, 70%, 0%, 0.6);
}
